---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHERMAP_APPID>&units=imperial&zip=95014,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.0449,"lat":37.318},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":59.99,"feels_like":57.67,"temp_min":51.93,"temp_max":64.56,"pressure":1025,"humidity":42},"visibility":10000,"wind":{"speed":8.01,"deg":67,"gust":13},"clouds":{"all":0},"dt":1646598696,"sys":{"type":2,"id":2003278,"country":"US","sunrise":1646577141,"sunset":1646618805},"timezone":-28800,"id":0,"name":"Cupertino","cod":200}'
  recorded_at: Sun, 06 Mar 2022 20:31:36 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=<OPENWEATHERMAP_APPID>&cnt=9&units=imperial&zip=95014,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":9,"list":[{"dt":1646600400,"main":{"temp":59.99,"feels_like":57.67,"temp_min":59.99,"temp_max":61.52,"pressure":1025,"sea_level":1025,"grnd_level":1012,"humidity":42,"temp_kf":-0.85},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":5.08,"deg":321,"gust":5.44},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2022-03-06
        21:00:00"},{"dt":1646611200,"main":{"temp":60.06,"feels_like":57.74,"temp_min":60.06,"temp_max":60.19,"pressure":1024,"sea_level":1024,"grnd_level":1011,"humidity":42,"temp_kf":-0.07},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":7.14,"deg":322,"gust":5.97},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2022-03-07
        00:00:00"},{"dt":1646622000,"main":{"temp":52.16,"feels_like":50.18,"temp_[...]
